
<div id="header">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" width="100px" height="100px">
      <img class="logo" src="Logo_au petit village.jpg" alt="logo de l'entreprise" width="100px" height="100px">
    </a>
    <nav class="nav">
      <a class="icon-nav" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Accueil</a>
      <a class="icon-nav" routerLink="/propos" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">A Propos</a>
      <a class="icon-nav" routerLink="/produits" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Produits</a>
    </nav>
  </div>

