#header {
    display: flex;
    justify-content: space-between;

    background-color: #DA001E;
    padding: 10px 0px;

}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    padding-right: 10%;
    width: 100%;
}

.icon-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;


    padding: 10px;
    color: #151217;
    transition: color 0.3s;
    font-size: x-large;
}

/* Changer la couleur au survol */
.icon-nav:hover {
    color: #FDD90B; /* Couleur au survol */
}

/* Changer la couleur lors du clic */
.icon-nav:active {
    color: #FDD90B;
}

/* Style pour l'élément actif */
.icon-nav.active {
    color: #FDD90B;
}

.logo {
    display: flex;
    align-items: center;
    border-radius: 50%;

}
