<app-header></app-header>

<div id="contenair">
    <h2 class="title">Découvrez nos figurines inspirées par Astérix et Obélix !</h2>
    <div class="produits">
        <div class="produits-liste" *ngFor="let figurines of figurines">

            <h3 class="title-produit">{{figurines.name}}</h3>

            <img class="img-produit" src="{{figurines.image}}" alt="{{figurines.name}}">

            <div class="p-produit">
                <p class="p-text"><strong class="p-produit">Prix : </strong> {{figurines.prix}}</p>
            </div>

            <div class="p-produit">
                <h3><strong class="p-description-title">Description :</strong></h3>
                <span class="p-description-text">{{figurines.description}}</span>
              </div>


            <div class="p-produit">
                <p class="p-produit">dimensions : <small class="p-text2">{{figurines.dimension}}</small>
            </div>

        </div>
    </div>
</div>

<app-footer></app-footer>
