<app-header></app-header>
<div id="presentation">
    <h1>Bienvenue chez Au Petit Village !</h1>
    <p>Plongez dans l'univers magique des aventures d'Astérix et Obélix avec nos figurines artisanales uniques. Chaque pièce est soigneusement confectionnée à la main, capturant l'esprit et la joie des célèbres héros gaulois. Parfaites pour les nostalgiques et les amateurs de la bande dessinée, nos figurines ajouteront une touche d’enchantement à votre collection. Explorez notre catalogue pour découvrir la magie du village d'Astérix, et n’hésitez pas à nous contacter pour toute question ou commande personnalisée. Vive les Gaulois !</p>
</div>
<div id="catalogue">
    <div id="recherche">Recherche</div>
    <div id="classement">Classement par prix Croissant et Decroissant</div>
    <div class="podruits">
        <div class="trie">
            <h4>Trier par préférence</h4>
            <button>Click</button>
        </div>
        <div id="contenair">
            <h2 class="title">Découvrez nos figurines inspirées par Astérix et Obélix !</h2>
            <div class="produits">
                <div class="produits-liste" *ngFor="let figurines of figurines">
                    <h3 class="title-produit">{{figurines.name}}</h3>
                    <img src="{{figurines.image}}" alt="{{figurines.name}}"  width="200px" height="200px">
                    <p class="p-produit"><strong class="p-produit">Prix :{{figurines.prix}}</strong></p>
                    <p class="p-produit"><strong class="p-produit">description :{{figurines.description}}</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>
